<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="my-4 ">Hey this is a test api for Sellerkin</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="to" class="form-label">Your Email</label>
            <input type="email" class="form-control" id="to" aria-describedby="textHelp"
                   name="to" placeholder="Email To">
        </div>
        <div class="mb-3">
            <label for="toname" class="form-label">Your name</label>
            <input type="text" class="form-control" id="toname" aria-describedby="textHelp"
                   name="toname" placeholder="Receiver name">
        </div>
        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
{% for i in messages %}<script>alert("{{i}}");</script>{% endfor %}
</body>
</html>